@import "./src/styles/colorVariables";

.table-header {
  margin: 0 auto 20px
}

table {
  border-collapse: collapse;
}

th, td {
  border: 1px solid $colorBrandy;
  padding: 5px 10px;
}

tr:nth-child(even) {
  background-color: $colorBrandy;
  color: $colorShark;
}