@import "./src/styles/colorVariables";

.pin {
  position: relative;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: $colorTreePoppy;
  transition: background-color .25s ease-out;

  &:hover {
    background-color: $colorShark;

    .location-name {
      color: $colorTreePoppy;
    }
  }
}

.location-name {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: $colorShark;
  font-size: 24px;
  font-weight: bold;
  transition: color .25s ease-out;
}